body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.App {
  font-family: 'Arial', sans-serif;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

p {
  cursor: pointer;
  margin: 5px 0;
  padding: 8px;
  color: #303030;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

p:hover {
  background-color: #e0e0e0;
}

h2 {
  color: #99c2ff;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin-bottom: 10px;
}

.featured-pup {
  margin-top: 20px;
  padding: 15px;
  background-color: #e6f7ff;
  border: 1px solid #99c2ff;
  border-radius: 5px;
}
